@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
* {
	margin: 0;
	padding: 0;
}

body { 
    margin: 0 auto;
    padding: 0;
    width: 1140px;
    background-image: url(../Images/layout/background.png);
    font: normal 19px 'Roboto', sans-serif;
    color: #184771;
}

img {	
	border: 0;
}		

a {
    list-style: none;
    color: white;
    text-decoration: none;
}

ul li {
	list-style: none;
}		

.wrapper {
    background-image: url(../Images/layout/background.png);
}

/* Header */	
.page-header {
    background:  url(../images/layout/lighting-top.png) no-repeat center -50px;
    width: 1080px;
    height: 150px;
    padding: 0px 30px;
}

.logo {
    margin: 56px 0 0 -8px;
    background: url("../images/layout/logo.png") no-repeat;
    width: 307px;
    height: 65px;
    float: left;
}

.logo:hover{
	opacity: 0.8;
}

.main-navigation {
    display: inline-flex;
    margin: 67px -30px 0 0;
    float: right;  
    width: auto;
}

.main-navigation li{
    height: 38px;
    border-right: solid 1px black;
}

.main-navigation li:last-child {
    border-right: none;
}

.main-navigation li a{
    height: 32px;
    padding: 10px 15px 0 15px;
	float: right;
	position: relative;	
	font: normal 15px 'Roboto', sans-serif;
	background:  url("../images/layout/button-repeat.png") repeat-x 0 -9000px;
}

.main-navigation li a:hover, .main-navigation li.active a{
	background-position: 0 0;
}
.main-navigation li a:hover:before, .main-navigation li a:hover:after, .main-navigation li.active a:before, .main-navigation li.active a:after{
	display: block;
}
.main-navigation li a:before, .main-navigation li a:after{
	width: 8px;
	height: 41px;
	content: '';
	position: absolute;
	top: 0;
	display: none;
}
.main-navigation li a:before{
	left: -7px;
	background: url("../images/layout/button-left.png") no-repeat 0 0;
}
.main-navigation li a:after{
	right: -7px;
	background: url("../images/layout/button-right.png") no-repeat 0 0;
}

/* Body */
.page-body{
    width: 1140px;
    height: auto;
    background: white url(../images/layout/body-repeat.png) repeat-y  -2px 0 ;
}

.about {
    padding: 60px 30px 40px 30px;
    background: url(../images/layout/body-top.png) no-repeat top;
}

.page-middle {
    border-top: solid 1px #f0f0f0;  
    margin: 0 30px 0 30px;
}

.page-middle ul{
    text-align: justify;
    margin-top: 40px;
}

.page-middle ul:after {
    content: ' i i i i ';
    word-spacing: 192px;
    padding-left: 190px;
    visibility: hidden;
}

.page-middle ul li {
    width: 192px;
    margin-bottom: 30px;
    border: solid 1px #dfdfdf;
    display: inline-block; 
    text-align: center;
    vertical-align: top;
}

.column-name {
    height: 100%;
    width: auto;
    padding: 24px; /*почему 23 и 25 не подходит, как решить?*/
    display: table-cell;
    vertical-align: middle;
    color: #3c6e9a;
    font: bold 24px 'Roboto', sans-serif;
    background: white url("../images/layout/collumn-repeat.png") repeat-x left bottom;
}

.column-picture {
    padding: 10px;
    margin: 0 auto;
    line-height: 100%;
}

.column-picture img {
    max-width: 100%; max-height: auto;
}

.button {
    margin: 12px 10px 0 10px;
    padding: 12px 20px 10px 20px;
    width: auto;
    height: 23px;
    display: inline-flex;
    background: url(../images/layout/button-order-repeat.png) repeat-x 0 0; 
    overflow: hidden;
    font-size: 17px;
}

.button:hover, .button:active {
    cursor: pointer;
} 

.button:before, .button:after {
	width: 2px;
	height: 44px;
	content: '';
	position: relative;
	display: inline-block;
    top: -12px;
}

.button:before {
	left: -20px;
	background: url("../images/layout/button-order-left.png") no-repeat 0 0;
}
.button:after {
	right: -20px;
	background: url("../images/layout/button-order-right.png") no-repeat 0 0;
}

.column-background {
    height: 70px;
    border-top: solid 1px #dfdfdf;
    background-color: #ebf2f7;
}

.content {
    background: #f3f7f9 url(../images/layout/content-top.png) repeat-x top center;
}

.content div{
    background: url(../images/layout/body-bottom.png) no-repeat bottom center;
    line-height: 2em;
    font-size: 18px;
    color: #16477f;
    padding: 60px 30px;
}

.content h1{
    line-height: .7em;
}

.content img.align-right {
    width: 40%;
    height: auto;
    float: right;
    padding: 15px;
}

.content img.align-left {
    float: left;
    margin: 10px 20px;
    padding: 5px;
}

.content ul {
    font-size: 25px;
    line-height: 1.4em;
}

.content ul li{
    margin-left: 50px;
    padding: 10px;
    width: 40%;
    list-style-image: url("../images/content/tick.png");
}

.content ol {
    font-size: 25px;
    line-height: 1em
}

.content ol li {
    margin-left: 420px;
    padding: 15px 0 30px 20px;
    list-style: upper-roman;
    font-size: 25px;
}

/* Footer */
.page-footer {
    background:  url(../images/layout/lighting.png) no-repeat center -250px;
    width: 1140px;
    height: 50px;
    padding: 10px 0px;
}

.copyright,.bottom-navigation {
    font-size: 12px;
    color: #91afc9;
}

.copyright {
    font-size: 12px;
    width: 25%;
    float: left;
    padding: 15px 0 5px 0;
    margin-left: 30px;
}

.twitter{
    float: left;
    width: 15%;
    padding: 8px 0 15px 0;
    background: url(../images/content/bird.png) no-repeat 0 13px;
}

.twitter a{
    color: #59a9da;
    font-size: 12px;
    padding: 10px 0 15px 30px;
}

.bottom-navigation {
    float: right;
    text-align: right;
    padding: 15px 0 5px 0;
    margin-right: 30px;
}

.bottom-navigation a{
    color: #91afc9;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    border-right: solid 1px #91afc9;
}

.bottom-navigation a:last-child{
    border: none;
}

h1,h2 {
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 22px;
    color: #184771;
}

h2 {
    font-size: 24px;
    color: #184771;
    font-weight: 300;
    line-height: 1.5em;
}
